<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>配置文件上传下载</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

    <script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
    <script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" dashboard">
<div id="caontainer">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">盼达值班系统</a> </h1>
        </div>
        <div id="user-tools">
            <a href="/admin">运维管理</a> /
            <a href="/addpage">值班表管理</a>
        </div>
    </div>
</div>
<br>
<h2>上传配置文件</h2>
<form enctype="multipart/form-data" action="/update_file" method="POST">
    <select name="role">
        <option>--选择环境--</option>
        {% for role in role_list %}
        <option value="{{role}}"> {{role}}</option>
        {% endfor %}
    </select>
    <select name="service">
        <option>--选择服务--</option>
        {% for service in service_list %}
        <option value="{{service}}"> {{service}}</option>
        {% endfor %}
    </select>
    <br>
    <input type="file" name="my_file" />
    <input type="submit" value="上传">
</form>

<h2>下载配置文件</h2>
<form action="/bulk_down" method="POST">
    <select name="role">
        <option>--选择环境--</option>
        {% for role in role_list %}
            <option value="{{role}}"> {{role}}</option>
        {% endfor %}
    </select>
    <select name="service">
        <option>--选择服务--</option>
        {% for service in service_list %}
            <option value="{{service}}"> {{service}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="下载">
</form>

</body>
</html>