<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>盼达值班表</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="/static/admin/css/ie.css" /><![endif]-->

<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "28800";</script>

<meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" dashboard">
<div id="caontainer">
    <div id="header">
        <div id="branding">
<h1 id="site-name"><a href="/admin/">盼达值班系统</a> </h1>
        </div>
        <div id="user-tools">
            <a href="/admin">运维管理</a> /
            <a href="/addpage">值班表管理</a>
        </div>
    </div>
</div>
<br>
<strong>查看值班表</strong>
<form action="/listwatch/" method="POST">
    年份: <input type="text" name="year">
    月份: <input type="text" name="month">
    <input type="submit" value="提交">
</form>
<br>-----------------------------------------
<p>值班人员如下：<p>
{%for name in namelist %}
    {{name}}<br>
{% endfor %}
</body>
</html>